* {
    box-sizing: border-box;
}

body {
    background-image: url(img/background.jpg);
    background-repeat: no-repeat;
    min-height: 600px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.container {
    max-width: 100%;
    display: flex;
    gap: 1em;
    border: 1px solid blue;
    padding: 2em;
}

.key {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 3px solid black;
    height: 3.5em;
    width: 4em;
    border-radius: 3px;
    background: rgb(0,0,0,0.6);
    text-shadow: 0 0 6px black;
    cursor: pointer;
    transition: all 0.08s; 
}

kbd {
    font-size: 1.5rem;
    font-weight: 700;
    color: #fff;
}

span {
    font-size: .7rem;
    font-weight: 700;
    color: #ffc600;
}


.active {
    transform: scale(1.1);
    border-color: #ffc600;
    box-shadow: 0 0 10px #ffc600;

}

